body {
  font-family: "Roboto", sans-serif !important;
}

.offer-card h2,
.offer-card p,
.offer-card span {
  color: #323330;
}

.text-bold {
  font-weight: 600;
}
.text-bold span {
  font-weight: 400;
  text-decoration: underline;
  align-self: flex-end;
}

.hero-slider .hs-item .offer-card h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  margin-top: 1.5rem;
}

.hero-slider .hs-item p {
  font-size: 18px;
  font-weight: 300;
  position: relative;
  top: 100px;
  opacity: 0;
}

.hero-slider .hs-item p {
  font-size: 18px;
  font-weight: 300;
  position: relative;
  top: 100px;
  opacity: 0;
}

.babel-svg {
  max-height: 5;
  min-height: 4rem;
  width: min-content;
}

.shopping-card span {
  color: #323330;
}

.user-panel a,
.footer-questions:hover,
.underline {
  text-decoration: underline;
}

.nbsp {
  height: 200px;
}

.social-links {
  display: flex;
  justify-content: space-around;
}

.spacing {
  display: flex;
  justify-content: space-around;
}

.con-info a {
  color: #8f8f8f;
}

.con-info a:hover {
  color: #fff;
}

.footer-widget.contact-widget {
  justify-content: center;
  justify-items: center;
  vertical-align: center;
}

.product-section,
.page-top-info {
  background-color: #f6f6f6;
}

.center-unique {
  margin-left: calc(50%);
}

.div-email {
  margin-bottom: 10rem;
}

.loginBG {
  background: #dfdfdf;
  /* background: #ffde64; */
}

.card img {
  max-width: 400px;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.central-card {
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  /* max-height: 75vh; */
}

.toDown {
  align-self: flex-end;
}

.section-login {
  /* padding-top: 10rem;
  padding-bottom: 10rem; */
  min-height: 100vh;
  display: flex;
}

.row.align-center {
  justify-self: end;
}

.btn-babel {
  background-color: $amarilloBabel;
  color: $bgBlack;
  border: 1px solid $bgBlack;
}

.btn-babel {
  color: $bgBlack;
  background-color: $amarilloBabel;
  border-color: $amarilloBabel;
}
#submitFormLogin {
  margin-right: 1rem;
}
.btn-success:hover {
  color: $bgBlack;
  background-color: $amarilloOscuro;
  border-color: $amarilloOscuro;
}
.btn-success.focus,
.btn-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(249, 220, 62, 0.5);
}
.btn-success.disabled,
.btn-success:disabled {
  color: $bgBlack;
  background-color: $amarilloBabel;
  border-color: $amarilloBabel;
}
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
  color: $bgBlack;
  background-color: $amarilloOscuro;
  border-color: $amarilloOscuro;
}
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(249, 220, 62, 0.5);
}

.btn-login {
  display: flex;
  margin: 0;
  justify-self: flex-end;
  margin-left: auto;
}

#last {
  margin-bottom: 0;
  padding-bottom: 0;
}

.section-login .card-body {
  margin-bottom: 0;
  padding-bottom: 0;
}

.card-body ul {
  list-style: none;
}

.fluid {
  width: 100%;
}

.biLeft {
  padding-left: 0 !important;
}

.biRight {
  padding-right: 0 !important;
}

.notify li {
  margin-left: 2em;
}

.notify {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.9;
  width: auto;
  // margin-right: 2em;
  // margin-top: 4em;
}

.dropdown-menu {
  text-align: center;
}

.dropdown-item:active {
  background-color: #d4b91c;
}

#section-users,
#section-products {
  margin: 10em 0;
}

.header-top {
  padding-bottom: 0;
}

.page-link {
  color: #000;
}

.page-link:hover {
  color: $amarilloOscuro;
}

span.page-link {
  background-color: $amarilloOscuro;
  color: #000;
}

.page-item.active .page-link {
  z-index: 3;
  color: #000;
  background-color: $amarilloOscuro;
  border-color: $amarilloOscuro;
}

.page-item:active .page-link {
  background-color: $amarilloBabel;
  border-color: $amarilloBabel;
  color: #000;
}

#showUser .card {
  max-width: 100%;
  width: 100%;
  margin: 4em 0;
  background-color: rgba(0, 0, 0, 0.03);
}

.card-img.show-profile-img {
  margin-top: 1em;
  border-radius: 50%;
}

.card-header-profile {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  // border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin: 0;
}

.card-header-profile .card-body {
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#showUser .card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  // background-color: rgba(0, 0, 0, 0.03);
  // border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.separated {
  width: 85%;
  height: 1px;
  border-bottom: 1px solid rgb(124, 124, 124);
}

.hiddenInput {
  display: none;
}

.thumb {
  width: 100%;
  object-fit: cover;
}
.thumb-destroy {
  width: 64px;
  object-fit: cover;
  margin: 0 !important;
  padding: 0 !important;
}

.product-details .p-stock-admin {
  font-size: 2rem;
  color: #000;
  font-weight: 700;
  color: #323330;
  margin-bottom: 10px;
}

.product-details .p-title-admin {
  font-size: 3rem;
  font-weight: 700;
  color: #323330;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.product-details .p-date {
  font-size: 0.8rem;
  font-weight: 400;
  color: #7a7a7a;
  // text-transform: uppercase;
  margin-bottom: 6px;
}

.product-details .p-stock-admin span {
  color: #f9dc3e;
}

.underline.green {
  text-decoration-color: $green;
}

.underline.red {
  text-decoration-color: $red;
}
.addresses {
  margin-top: 3rem;
}
.border-bottom {
  border-bottom: 1px solid #323330;
}

.cien {
  width: 100%;
}

.btn-delete {
  position: relative;
  margin-top: 32px;
  margin-right: 20px;
}
#products .form-control {
  margin-bottom: 1em;
}

.hidden {
  display: none;
}

.hiddenO {
  opacity: 0;
}
.id-controloC {
  width: 72px;
}

.id-controlo {
  width: 48px;
}

.id-control {
  max-width: fit-content;
  margin-top: 32px;
}

.disabled {
  background-color: #e9ecef;
  opacity: 1;
  justify-content: center;
  align-content: center;
}

@media screen and (min-width: 572px) {
  .notify {
    max-width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .card-header-profile {
    max-width: 85%;
  }
}

@media screen and (min-width: 992px) {
  .notify {
    max-width: 33%;
  }
  .addresses {
    margin-top: 0rem;
  }
}
