/* --------------
  Other Pages
------------------*/

.page-top-info {
  background: #f8f8f8;
  padding: 48px 0 0px;
}

.page-top-info h4 {
  color: #323330;
  font-weight: 700;
  text-transform: uppercase;
}

.site-pagination {
  font-size: 14px;
  font-weight: 600;
  color: #323330;
}

.site-pagination a {
  display: inline-block;
  font-size: 14px;
  color: #323330;
}
